.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(7px + 2vmin);
  background: linear-gradient(207deg, #0fd2a0, #8274c0, #79cedb, #a1ce84);
  background-size: 800% 800%;
}

.App-link {
  color: #09d3ac;
}
